---
import Icon from "../Icon.astro";

const { service } = Astro.props;

const notes =
  service.note
    ?.split("-")
    .map((n) => n.replace(/^- /, "").trim())
    .filter(Boolean) ?? [];
---

<div class="card">
  <div class="title">{service.point_name}</div>

  <div class="info">
    {
      service.phone && (
        <a href={`tel:${service.phone}`}>
          <Icon name="Phone" size={16} notInteractive />
          {service.phone}
        </a>
      )
    }

    {
      service.website && (
        <a href={service.website} target="_blank">
          <Icon name="Globe" size={16} notInteractive />
          Web
        </a>
      )
    }

    {
      service.opening_info && (
        <div>
          <Icon name="Clock" size={16} notInteractive />
          {service.opening_info}
        </div>
      )
    }
  </div>
  {
    notes.length > 0 && (
      <ul class="notes">
        {notes.map((note) => (
          <li>{note}</li>
        ))}
      </ul>
    )
  }
</div>

<style>
  .card {
    background: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    padding: var(--space-md);
    font-size: 0.95rem;
    border-radius: 10px;
  }

  .title {
    font-weight: 600;
    margin-bottom: 4px;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 8px;
  }

  .notes {
    margin-top: 6px;
    padding-left: 16px;
  }

  .notes li {
    font-size: 0.85rem;
    color: var(--color-text-muted);
    margin-bottom: 3px;
  }
</style>
