---
import Icon from "./Icon.astro";
import { getPointIcons } from "../utils/iconMapping";

const { filter, point } = Astro.props;
const icons = getPointIcons(point);

if (!icons.length) {
  return null;
}

const pointTypeIcon: any = icons.shift();
---

<div class="item">
  <div class="km">
    {point.km}
  </div>

  <div class={!filter || filter == "all" ? "content default" : "content"}>
    <a href={`/bod/${point.slug}`} class="name">
      <Icon name={pointTypeIcon} />
      {point.name}
    </a>
    {
      !filter || filter == "all" ? (
        <div class="icons">
          {icons.map((icon) => (
            <Icon name={icon} />
          ))}
        </div>
      ) : (
        <div>Detailed info</div>
      )
    }
  </div>
</div>

<style>
  .item {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 1rem;
    position: relative;
    padding: 1rem 0;
    align-content: center;
  }

  .km {
    font-weight: 600;
    font-size: 0.9rem;
    /* padding-top: 0.2rem; */
    color: var(--color-primary);
    text-align: right;
  }

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    padding-left: 1rem;
    border-left: 2px solid rgba(31, 61, 43, 0.15);

    &.default {
      @media (min-width: 600px) {
        flex-direction: row;
      }
    }
  }

  .name {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    display: flex;

    span {
      margin-right: 1rem;
    }
  }

  .meta {
    font-size: 0.85rem;
    opacity: 0.6;
    margin-top: 0.2rem;
  }

  .icons {
    display: flex;
    gap: 0.5rem;
    /* margin-top: 0.6rem; */
  }
</style>
