---
import Icon from "./Icon.astro";
import { getPointIcons } from "../utils/iconMapping";
import DetailedInfo from "./DetailedInfo.astro";
import { ETAPE_LENGTH } from "../constants/constants.ts";

const { filter, point } = Astro.props;
const icons = getPointIcons(point);

if (!icons.length) {
  return null;
}

const pointTypeIcon: any = icons.shift();

const DistanceToEtapeFinish: number = ETAPE_LENGTH - point.km;
---

<div class="item">
  <div class="km">
    <span class="km-item"
      ><Icon name="ArrowRightFromLine" size={16} noBackground notInteractive />{point.km}</span
    >
    <!-- <span class="km-item"
      ><Icon name="ArrowDownToLine" size={16} noBackground />{
        DistanceToEtapeFinish
      }</span
    > -->
  </div>
  <div class={!filter || filter == "all" ? "content default" : "content"}>
    <a href={`/bod/${point.slug}`} class="name">
      {
        (filter == 'all' || !filter) ? (<Icon name={pointTypeIcon} 
      />) : (<Icon name={pointTypeIcon} size={16} notInteractive />)
        
      }
      
      {point.name}
    </a>
    {
      !filter || filter == "all" ? (
        <div class="icons">
          {icons.map((icon) => (
            <Icon name={icon} notInteractive/>
          ))}
        </div>
      ) : (
        <DetailedInfo point={point} />
      )
    }
  </div>
</div>

<style>
  .item {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 1rem;
    position: relative;
    padding-bottom: 1.5rem;
    align-content: center;
  }

  .km {
    font-weight: 600;
    font-size: 0.9rem;
    /* padding-top: 0.2rem; */
    color: var(--color-primary);
    text-align: right;
    display: flex;
    /* flex-direction: column; */
    just
    text-align: left;

  }

  .km-item {
    display: flex;
    justify-content: space-between;
    align-items: anchor-center;
  }

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    padding-left: 1rem;
    border-left: 2px solid rgba(31, 61, 43, 0.15);

    &.default {
        flex-direction: row;
      }
  }

  .name {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;

    span {
      margin-right: 1rem;
    }
  }

  .meta {
    font-size: 0.85rem;
    opacity: 0.6;
    margin-top: 0.2rem;
  }

  .icons {
    display: flex;
    gap: 0.5rem;
    /* margin-top: 0.6rem; */
  }
</style>
